<!-- Título -->
<h2>Tienda de Tecnología</h2>

<!-- Párrafos -->
<p>Bienvenido a nuestra tienda en línea.</p>
<p class="p-nerko">¡Explora nuestros productos exclusivos!</p>

<!-- Lista de enlaces -->
<ul>
  <li><a href="https://google.com" target="_blank">Google</a></li>
  <li><a href="https://github.com" target="_blank">GitHub</a></li>
  <li><a href="https://angular.io" target="_blank">Angular</a></li>
</ul>

<!-- Tabla -->
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Iphone 10</td>
      <td>2</td>
      <td>$2.000.000</td>
    </tr>
    <tr>
      <td>Mouse</td>
      <td>100</td>
      <td>$50.000</td>
    </tr>
    <tr>
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>
  </tbody>
</table>
<div class="contenedor">
  <!-- Header -->
  <div class="header">
    <div class="logo">Logo</div>
    <div class="buscador">Buscador</div>
  </div>
  <!-- Footer -->
  <div class="footer">Pie de página</div>
</div>
<div class="contenedor">
  <!-- Header -->
  <div class="header">
    <div class="logo">Logo</div>
    <div class="buscador">Buscador</div>
  </div>
  <!-- Footer -->
  <div class="footer">Pie de página</div>
</div>

<router-outlet />
