<h1>Menú Principal</h1>
<nav>
    <ul>
        <li><a routerLink="/consultar-todos">Consultar Todos los Productos</a></li>
        <li><a routerLink="/consultar-por-id">Consultar Producto por ID</a></li>
        <li><a routerLink="/crear">Crear Producto</a></li>
        <li><a routerLink="/actualizar">Actualizar Producto</a></li>
        <li><a routerLink="/eliminar">Eliminar Producto</a></li>
        <li><a routerLink="/consultar-por-filtro">Consultar Productos por Filtro</a></li>
    </ul>
</nav>
